#include <windows.h>
#include "resource.h"

IDI_APPICON    ICON "displays-3.ico"
IDI_DISPLAYS_1 ICON "displays-1.ico"
IDI_DISPLAYS_2 ICON "displays-2.ico"
IDI_DISPLAYS_3 ICON "displays-3.ico"
IDI_DISPLAYS_4 ICON "displays-4.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,4,0
 PRODUCTVERSION 1,0,4,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription",  "WinSwapper - rotate windows between displays"
            VALUE "FileVersion",      "1.04"
            VALUE "InternalName",     "winswapper"
            VALUE "OriginalFilename", "winswapper.exe"
            VALUE "ProductName",      "WinSwapper"
            VALUE "ProductVersion",   "1.04"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
